<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h3>Mission Planner Trajectory Visualization</h3>
		<h5>
			In this project, I designed and implemented a real-time visualization tool in Unity to aid mission planners in analyzing trajectory paths created by simulation software. Using rendering capabilities, I built an interactive interface that allows users to simulate and play back trajectories, providing an intuitive view of potential outcomes based on mission parameters. This tool enhanced planning precision and supported quick decision-making by presenting complex data in an accessible visual format.
		</h5>
		<p><img src="{{ site.baseurl }}static/img/orbitviz1.png" alt="Orbit viz" class="bigimage" /></p>
		<br>

		<h3>Lunar South Pole Base Planner</h3>
		<h5>
			I developed an interactive simulation tool in Unity to support planning for lunar base locations at the moon's south pole, a key site for future lunar exploration. Using detailed topographic data, I created realistic terrain models and lighting simulations to account for the challenging low-light conditions near the lunar poles. The tool enabled mission planners to assess optimal base locations by visualizing factors like sunlight exposure, potential resource sites, and terrain accessibility, significantly contributing to strategic decision-making in lunar mission planning.
		</h5>
		<p><img src="{{ site.baseurl }}static/img/latviz1.png" alt="Lunar viz" class="bigimage" /></p>
		<br>

		<h3>Collaborative Lab Planning & Design Tool </h3>
		<h5>
			I also created a collaborative tool in Unity for designing lab spaces with customizable layouts, tools, and furniture. This application allowed multiple users to co-create lab environments in real-time, selecting and positioning equipment and fixtures to fit unique project needs. The tool enabled efficient team collaboration in designing functional, optimized lab layouts, facilitating remote planning and providing an interactive platform for visualizing and adjusting workspace configurations.
		</h5>
		<p><img src="{{ site.baseurl }}static/img/vlc1.png" alt="Lab viz" class="bigimage" /></p>
		<br>

		<h3>Unnamed SDF Rendering Project </h3>
		<h5>
			I implemented a custom GLSL rendering method for real-time raymarching of signed distance fields (SDFs), specifically designed for a game that integrates SDFs as core gameplay mechanics. This advanced rendering technique allowed for complex, dynamic environments where SDFs define interactive surfaces and obstacles. My work optimized performance for seamless gameplay, leveraging SDF raymarching to create visually compelling and responsive game elements directly tied to player interactions.
		</h5>
		<p><img src="{{ site.baseurl }}static/img/sdf1.png" alt="SDF Render" class="bigimage" /></p>
		
    </div>
  </div>
</div>
</section>
