<section id="Vitae">
<div class="container">
	<h3>Summary</h3>
	<div class="panel panel-default">
		<div class="panel-body">
				<h5>Combining my foundation in Computer Science and Game Development with nearly 15 years of hands-on experience in the gaming industry, I've honed my expertise in Unity, C#, Python, and Unreal Engine, crafting rendering pipelines and render shaders tailored for diverse applications. My journey has seen me navigate graphics programming and general game development, specializing in creating training simulations and visualization software crucial for mission planning. Proficient in shader scripting with HLSL, GLSL, and Unity, I've crafted custom shaders to deliver unique and performant solutions across various titles. My experience also includes all aspects of gameplay, including immersive 3D interactive, VR, AR, and Mixed Reality experiences. Leveraging my past collaborations with industry leaders such as Oculus, Varjo, HTC Vive, Valve Index, and Hololens, I'm poised to contribute seamlessly to cutting-edge projects.</h5>
		</div>
	</div>


	<h3>Work</h3>
	<div class="panel panel-default">
	<div class="panel-body">
		<h3>Visualization Engineer</h3>
		<h5>
			Analytical Mechanics Associates, Inc - Houston, TX
			June 2020 to Present
		</h5>
		<ul>
			<li><h5>Collaborated closely with a multidisciplinary team of scientists, engineers, and space exploration experts at Johnson Space Center (JSC) to develop cutting-edge tools and software solutions aimed at visualizing complex trajectories and mission plans for space exploration missions.</h5></li>
			<li><h5>Leveraged expertise in software development and visualization techniques to translate intricate mathematical models and simulation data into intuitive and interactive visual representations, enabling stakeholders to analyze and optimize mission trajectories with precision and accuracy.</h5></li>
			<li><h5>Participated in requirements gathering sessions and design discussions with end-users to understand their needs and preferences, tailoring software features and functionalities to meet specific mission objectives and operational requirements.</h5></li>
		</ul> 

		<br>
		<h3>STEM Instructor</h3>
		<h5>
			Coding with Kids - Austin, TX <br>
			May 2019 to November 2021
		</h5>
		<ul>
			<li><h5>Designed and delivered engaging instructional sessions tailored to diverse groups of learners, spanning a wide range of age groups and skill levels, from elementary school students to adult professionals.</h5></li>
			<li><h5>Leveraged effective pedagogical strategies to deconstruct intricate and abstract concepts into digestible components, employing visual aids, analogies, and real-world examples to enhance comprehension and retention among learners.</h5></li>
			<li><h5>Fostered an inclusive and supportive learning environment where participants felt empowered to ask questions, explore ideas, and collaborate with peers, cultivating a sense of curiosity and enthusiasm for learning complex subjects.</h5></li>
		</ul>

		<br>
		<h3>Freelance Programmer</h3>
		<h5>
			N/A - Austin, TX <br>
			January 2015 to January 2019
		</h5>
		<ul>
			<li><h5>Collaborated with a diverse range of companies across industries to fulfill contract programming assignments, demonstrating adaptability and versatility in addressing their unique needs.</h5></li>
			<li><h5>Communicated effectively with clients to understand project requirements, timelines, and expectations, providing regular updates and revisions to meet evolving demands, performance and functionality across various devices and browsers.</h5></li>
			<li><h5>Led a multidisciplinary team of engineers in the development of a robust C++ based server management back-end software, prioritizing performance and scalability to accommodate growing user bases.</h5></li>
		</ul> 

		<br>
		<h3>Unity Developer</h3>
		<h5>
			Squad - Austin, TX<br>
			January 2013 to January 2014
		</h5>
		<ul>
			<li><h5>Spearheaded the development of advanced real-time trajectory simulation techniques within the popular space simulation game, Kerbal Space Program (KSP), enhancing the game's realism and immersive experience for players.</h5></li>
			<li><h5>Leveraged principles of orbital mechanics and physics simulations to accurately model spacecraft trajectories, ensuring fidelity to real-world spaceflight dynamics.</h5></li>
			<li><h5>Led a multidisciplinary team of engineers in the development of a robust C++ based server management back-end software, prioritizing performance and scalability to accommodate growing user bases.</h5></li>
		</ul> 

	</div>
	</div>

	<h3>Education</h3>
	<div class="panel panel-default">
	<div class="panel-body">
		<h3>Bachelor's in Aerospace Enineering</h3>
		<h5>
			Texas A&M University - College Station, TX <br>
			January 2016 to August 2022
		</h5>
		


	</div>
	</div>
</div>
</section>
